@{
    ViewData["Title"] = "Videojuegos";
}

<div class="row">
    <div class="col-sm-12">

        <!--Inicio tarjeta-->
        <div class="card">
            <div class="card-header">Videojuegos</div>
            <div class="card-body">

                <button class="btn btn-success" id="btnNuevo">Nuevo Videojuego</button>

                <hr />

                <table class="table table-striped" id="tbVideojuego">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Año</th>
                            <th>Calificacion</th>
                            <th>Genero</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
        <!--Fin tarjeta-->

    </div>
</div>



<!--Inicio Modal-->
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle Videojuego</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtIdVideojuego" value="0" />
                <div class="mb-2">
                    <label>Nombre</label>
                    <input type="text" class="form-control" id="txtNombre" />
                </div>
                <div class="mb-2">
                    <label>Descripcion</label>
                    <input type="text" class="form-control" id="txtDescripcion" />
                </div>
                <div class="mb-2">
                    <label>Año</label>
                    <input type="text" class="form-control" id="txtAño" />
                </div>
                <div class="mb-2">
                    <label>Calificacion</label>
                    <input type="text" class="form-control" id="txtCalificacion" />
                </div>
                <div class="mb-2">
                    <label>Genero</label>
                    <input type="text" class="form-control" id="txtGenero" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnGuardar">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Fin Modal-->
@section Scripts{

    <script>
        const Modelo_base = {
            idVideojuego : 0,
            nombre:"",
            descripcion : "",
            año : "",
            calificacion : "",
            genero:""
        }
        $(document).ready(() =>{

            listaContactos();
        })
        function mostrarModal(modelo){

            $("#txtIdVideojuego").val(modelo.idContacto);
            $("#txtNombre").val(modelo.nombre)
            $("#txtDescripcion").val(modelo.descripcion)
            $("#txtAño").val(modelo.año)
            $("#txtCalificacion").val(modelo.calificacion)
            $("#txtGenero").val(modelo.genero)
            $('.modal').modal('show');
        }
        $("#btnNuevo").click(() => {

            mostrarModal(Modelo_base);
        })
        $("#btnGuardar").click(() => {
            let NuevoModelo = Modelo_base;
            NuevoModelo["idVideojuego"] = $("#txtIdVideojuego").val();
             NuevoModelo["nombre"]  = $("#txtNombre").val();
            NuevoModelo["descripcion"] = $("#txtDescripcion").val();
            NuevoModelo["año"] = $("#txtAño").val();
            NuevoModelo["calificacion"] = $("#txtCalificacion").val();
            NuevoModelo["genero"] = $("#txtGenero").val();
            if($("#txtIdVideojuego").val() == "0"){
                fetch("Home/Insertar",{
                    method:"POST",
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    body: JSON.stringify( NuevoModelo)
                })
                .then((response) => {
                    return response.ok ? response.json() : Promise.reject(response)
                })
                .then((dataJson) => {

                    if(dataJson.valor){
                        alert("registrado");
                          $('.modal').modal('hide');
                         listaContactos();
                    }
                })
            }else{
                fetch("Home/Actualizar",{
                        method:"PUT",
                        headers: {
                            'Content-Type': 'application/json;charset=utf-8'
                        },
                        body: JSON.stringify( NuevoModelo)
                    })
                    .then((response) => {
                        return response.ok ? response.json() : Promise.reject(response)
                    })
                    .then((dataJson) => {

                        if(dataJson.valor){
                            alert("editado");
                              $('.modal').modal('hide');
                             listaContactos();
                        }
                    })

            }
        })
        function listaVideojuegos(){

            fetch("Home/Lista")
            .then((response) => {
                return response.ok ? response.json() : Promise.reject(response)
            })
            .then((dataJson) => {

                $("#tbVideojuego tbody").html("");
                dataJson.forEach((item) => {

                    $("#tbVideojuego tbody").append(
                        $("<tr>").append(
                            $("<td>").text(item.nombre),
                            $("<td>").text(item.descripcion),
                            $("<td>").text(item.año),
                            $("<td>").text(item.clasificacion),
                                $("<td>").text(item.genero),
                            $("<td>").append(
                                $("<button>").addClass("btn btn-primary btn-sm me-2 btn-editar").data("modelo",item).text("Editar"),
                                $("<button>").addClass("btn btn-danger btn-sm btn-eliminar").data("id",item.idContacto).text("Eliminar")
                            )
                        )
                    )

                })

            })

        }
        $("#tbVideojuego tbody").on("click",".btn-editar",function(){
            let videojuego = $(this).data("modelo")

            mostrarModal(videojuego)
        })
          $("#tbVideojuego tbody").on("click",".btn-eliminar",function(){
            let idvideojuego = $(this).data("id")

            let resultado = window.confirm("¿Desea eliminar el videojuego?");
            if(resultado){
                  fetch("Home/Eliminar?id=" + idvideojuego,{
                        method:"DELETE"
                    })
                    .then((response) => {
                        return response.ok ? response.json() : Promise.reject(response)
                    })
                    .then((dataJson) => {

                        if(dataJson.valor){
                             listaVideojuegos();
                        }
                    })

            }

        })
    </script>

}
